{% extends 'base.html' %}
{% block title %}
  New Classification
{% endblock %}
{% block content %}
  <div class="classify-page">
    <div class="classify-container">
      <h2 class="text-center">Submit Your Patent</h2>
      <form  id="classify-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {{ form.title.label_tag }}
          {{ form.title}}
        </div>
        <div class="form-group">
          {{ form.description.label_tag }}
          {{ form.description  }}
        </div>
        <div class="form-group">
          {{ form.document.label_tag }}
          {{ form.document  }}
        </div>
        <div class="form-group">
          {{ form.depth.label_tag }}
          {{ form.depth  }}
        </div>
        <div class="form-group">
          {{ form.author.label_tag }}
          {{ form.author  }}
        </div>
       
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>
          <input type="text">
        </div>
      </form>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Classification en cours</h5>
          </div>
          <div class="modal-body">
            <p>Veuillez patienter pendant que nous classifions votre brevet.</p>
            <p>Temps écoulé : <span id="elapsed-time">0</span> secondes</p>
          </div>
        </div>
      </div>
    </div>
  
    <script>
      document.getElementById('classify-form').addEventListener('submit', function(event) {
        $('#loadingModal').modal('show');
  
        let startTime = Date.now();
        setInterval(function() {
          let elapsedTime = Math.floor((Date.now() - startTime) / 1000);
          document.getElementById('elapsed-time').innerText = elapsedTime;
        }, 1000);
      });
    </script>
  
{% endblock %}
